@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');


.containerCart {
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
  margin: 40px 50px;
  padding-top: 5px;
  background-color: white;
  border-radius: 10px;
}

.containerCart.dark-mode{
  background-color: #1d1d1d;
}


.infoItem2 {
  margin: 0 10px;
}

.contCompra {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
}

.contCompra>Button{
  font-family: 'Bangers', cursive;
  letter-spacing: 2px;
  font-size: 1.3rem;
}

.contCompra>p{
  font-family: 'Skranji', cursive;
  font-size: 1.3rem;
  letter-spacing: 4px;
  margin-top: 15px;
}


.contCompra.dark-mode * {
 color: whitesmoke;
}

.contCompra > p > span {
  font-weight: bold;
}

.contVacio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contVacio.dark-mode * {
  color: whitesmoke;
}

.btnChange {
  margin: 0;
  padding: 0;
}

.ordenCompra {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}

.ordenCompra > p > span {
  font-weight: bold;
  margin-left: 5px;
}

.ordenTitle {
  font-size: 0.8rem;
  background-color: rgba(245, 175, 175, 0.208);
  text-align: center;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0px 1px 7px -1px rgba(0, 0, 0, 0.3);
}



@media screen and (max-width: 500px) {

  .containerCart {
    margin: 100px 40px;
  }

  .contCompra {
    display: flex;
    flex-direction: column;
  }

}
