
.contContacto { 
  margin: 70px 0 ;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.containerContacto{
    box-shadow: 0 0 10px 0 rgb(252 62 62 / 53%);    
    background-color:whitesmoke;  
    border-radius: 10px;   
    margin-top: 10px;
  }

  .containerContacto.dark-mode{  
    background-color: #1d1d1d;     
  
  }

  .containerContacto.dark-mode * {  
    color: whitesmoke;    
  
  }
  
  .containerContacto>form{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    padding: 10px;
    
  
  }
  
  
  
  