@import url("http://fonts.cdnfonts.com/css/heroes-assemble");

@import url("http://fonts.cdnfonts.com/css/phoenix-gaming");

.itemProd {
  text-align: center;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.itemProd.dark-mode * {
  color: whitesmoke;
}

.infoItem {
  background-color: rgba(128, 128, 128, 0.159);
  margin: 0 10px;
  padding: 10px;
  border-radius: 25px;
}

.imagenItem {
  position: relative;
  height: 350px;
  width: 350px;
  margin: 0px 10px;
  float: left;
  padding: 0px 20px;
}

.imagenItem img {
  position: absolute;
  left: 0;
  transition: opacity 1.5s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.imagenItem img.top:hover {
  opacity: 0;
}

.infoItem2 {
  background-color: rgba(128, 128, 128, 0.159);
  padding: 5px;
  border-radius: 25px;
}

.infoItem2 > Button {
  font-family: "Heroes Assemble", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 2px;
}

.txtDetail {
  font-family: "Phoenix Gaming", sans-serif;
  font-size: 1.3rem;
  letter-spacing: 1.7px;
}
