@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.App-header {
  box-shadow: 3px 15px 19px -13px rgb(0 0 0 / 20%);
  box-sizing: border-box;
  background-color: #f5f5f5
}
.App-header.dark-mode  {
  background-color: #1d1d1d; 
}
.navBar {  
  width: 100%;  
}

.navBar.dark-mode * {
  color: whitesmoke;
}
.navbar-light .navbar-toggler {
  background-color: whitesmoke;
}

.me-auto > Button{
  font-family: 'Bangers', cursive;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.contLogo {
  margin-right: 120px;
}

.logo {
  padding-bottom: 25px;
  height: 150px;
}

#navbar-toggler {
  background-color: rgb(233 219 255);
  margin: 10px 0;
}


.linkMenu{
  text-decoration: none;
  color: black;
  margin: 5px;
  font-family: 'Bangers', cursive;
  font-size: 1.1rem;
}

@media screen and (max-width: 500px){
  .me-auto > Button{
    margin-left: 30px;
  }

}