.App-header {
  box-shadow: 3px 15px 19px -13px rgb(0 0 0 / 20%);
  box-sizing: border-box;
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5
}
.App-header.dark-mode {
  background-color: #1f1f1f;
}

.navBar {
  list-style: none;
  display: flex;
  align-items: flex-end;
  margin-right: 50px;
}

.navBar > li > Button {
  margin-left: 15px;
}
.btnNavBar {
  text-decoration: none;
}

.btnNavBar.dark-mode {
  color: white;
}

.navBar > Button {
  margin-left: 15px;
}

.basic-button.dark-mode {
  color: white;
}

#basic-button > a {
  color: rgb(3, 217, 217);
  text-decoration: none;
}

.imgLogo {
  width: 120px;
}
