.contSlider {
  margin: 0px 50px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 80px;
}

.slider {
  height: 30vh;
}

.imgSlide {  
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 10px;
  border-radius: 20px;
}

@media screen and (max-width: 500px) {

  .contSlider {   
    margin: 0 50px 110px 50px;
  }
  
  .slider {
    height: 30vh;
  }
  
  .imgSlide {
    margin: 0 10px;    
    width: 90%;
    height: 90%;
  }

}