
.app {
  box-sizing: border-box;
}
.App-header {
  border-bottom: 1px solid black ;
  box-shadow: 3px 15px 19px -13px rgba(0,0,0,0.51);
  box-sizing: border-box;
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  background-color: #212121  ;
  ;
}

.navBar{
  list-style: none;
  display: flex;
  align-items: flex-end;
  margin-right: 50px;
}

.imgLogo{
  width: 120px;
}
.containerItem{
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .5);;
  margin: 20px 50px ;
  display: flex;
  justify-content: center;
}


.cardProd{
  border: red 2px solid;
  display: inline-block;
  margin-top: 20px;
  margin-left: 40px;
  width: 200px;
  text-align: center;

}

.icon-carrito{
  
  width: 50px; 
  margin-bottom: 12px;
  margin-left: 15px;
  
}

span {
  font-size: 20px;
  font-style: italic;
}

.item-detail{
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(255, 0, 13, 0.289);
  margin: 10px;
  justify-content: space-around;
  align-items: center
}

.btn{
  border-radius: 30px;
  background-color: transparent;
  border: none;
  margin-top: 5px;
}