
.app {
  box-sizing: border-box;
}
.App-header {
  border-bottom: 1px solid black ;
  box-shadow: 3px 15px 19px -13px rgba(0,0,0,0.51);
  box-sizing: border-box;
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  background-color: #424242  ;
  ;
}

.navBar{
  list-style: none;
  display: flex;
  align-items: flex-end;
  margin-right: 50px;
}

.imgLogo{
  width: 120px;
}


/* 
.navBar>Link{
  margin: 20px;
} */